
/* General styles */
:root {
  --main-color: #FFFFFF;
  --heading: #FFFFFF;
  --secondary-color: #19535F;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  background-color:var(--main-color) ;
}
ul {
    list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}


/* Nav Bar */
nav{
  padding: 0.5em 2em 1.5em 2em;
  background-color: var(--secondary-color);
}
nav ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
nav a {
  padding: 1em;
  color: white;
  display: block;
}
nav a[href=""] {
  font-weight: bold;
}
/* Header Styles */
header {
  background-color: var(--secondary-color);
  padding: 2em;
  color: white;
  text-transform: uppercase;
}
header h1 {
  padding-bottom: 0.5em;
}
#mainHeader {
  font-size: 4em;
  padding: 0;
  text-align: center;
  color: var(--heading)
}
/* Main */

#twocolumns {
  padding: 2em;
}
main {
  padding-right: 1em;
  background-color:var(--main-color) ;
}
main p {
  padding-bottom: 1em
}
/* Aside */
aside {

}
@media only screen and (min-width: 768px){
  #twocolumns {display: flex;}
  aside {flex: 50%; padding-left: 1em;}
  nav ul {justify-content: flex-end;}
}
